// Status error redirects 
<httpErrors errorMode="Custom" defaultResponseMode="File" >
     <remove statusCode="401" subStatusCode="-1" />
     <remove statusCode="403" subStatusCode="-1" />      
     <remove statusCode="404" subStatusCode="-1" />                
     <remove statusCode="500" subStatusCode="-1" />
     <error statusCode="401" path="/404" responseMode="Redirect" />
     <error statusCode="403" path="/404" responseMode="Redirect" />
     <error statusCode="404" path="/404" responseMode="Redirect" />
     <error statusCode="500" path="/500" responseMode="Redirect" />
</httpErrors>

// HTTP to HTTPS redirect
<rule name="HTTP to HTTPS">
<match url="(.*)" ignoreCase="false" />
<conditions logicalGrouping="MatchAll">
<add input="{HTTPS}" pattern="off" ignoreCase="false" />
</conditions>
<action type="Redirect" url="https://{HTTP_HOST}{URL}" redirectType="Found" />
</rule>

// Canonical redirect
<rule name="CanonicalRewrite">
  <match url="(.*)"/>
  <conditions>
    <add input="{HTTP_HOST}" pattern="^www\.domain\.nl$" negate="true"/>
  </conditions>
  <action type="Redirect" url="http://www.domain.nl/{R:1}"/>
</rule>
